@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950;
  @apply text-gray-100;
}

img {
  @apply block;
  @apply w-full;
  @apply h-full;
  @apply object-cover;
  @apply object-center;
}

* {
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }
}

.aws-ivs-player-wrapper {
  & > * {
    @apply w-full;
    @apply h-full;
    @apply absolute;
    @apply top-0.5;
    @apply left-0.5;
    @apply -translate-x-0.5;
    @apply -translate-y-0.5;
  }

  .vjs-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .vjs-poster {
    background-size: cover !important;
  }
}

.text-editor {
  [contenteditable="true"] {
    @apply outline-0;
    @apply min-h-32;
    @apply max-h-96;
    @apply overflow-y-auto;
    @apply py-4;
    @apply px-2;
  }
}

.disabled-block {
  @apply cursor-not-allowed;
  @apply opacity-80;
}
